* {
    padding: 0;
    margin: 0;
    
    box-sizing: border-box;
}

.logo {
    position: absolute;
    top: 1px;
    width: 100%;
    height: 91px;
    background-color: #262423;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 30px 30px 80px;
}

.nav-buttons {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.right-buttons {
    display: flex;
    justify-content: flex-end;
    gap: 30px;
    padding-right: 200px; 
}



button {
    padding: 10px 20px;
    background-color: #262423;
    color: white;
    border: white;
    cursor: pointer;
    font-size: 20px;
    font-weight: bold;
    transition: 0.3s all;
    display: flex;
    align-items: center;
    gap: 10px; 
    text-shadow: #555;
}

button i {
    font-size: 20px;
}

button:hover {
    background-color: #555;
} 

.navbar-koniec {
    background-color: #262423; 
    height: 137px;
    position: fixed; 
    bottom: 0;      
    left: 0;        
    width: 100%;   
}

.rectangle {
    position: absolute;
    width: 537px;
    height: 265px;
    bottom: 92px;      
    left: 100px;   
    background: #262423;
    }

body {
background-position: center;
background-repeat: no-repeat;
background-size: cover;

background: url(images/tlo_podstrona_glowna.png);
}

.image {
    position: absolute;
    width: 1440px;
    height: 91px;
    left: calc(50% - 1440px/2);
    top: 0px;
    background: #262423;
    }


.nav-bar-koniec-main_text {
position: absolute;
width: 400px;
height: 31px;
left: 130px;
bottom: 300px;
font-family: 'Inter';
font-style: normal;
font-weight: 700;
font-size: 26px;
line-height: 31px;
color: #FFFFFF;


}

.nav-bar-koniec-text {
position: absolute;
width: 440px;
height: 44px;
left: 130px;
bottom: 230px;
font-family: 'Inter';
font-style: normal;
font-weight: 700;
font-size: 18px;
line-height: 22px;
color: #FFFFFF;
}


.navbar-koniec-box h1 {
    font-size: 30px; 
    font-weight: bold;
    color: white; 
}

.custom-button {
    width: 266px; 
    height: 96px;
    background: linear-gradient(to bottom, #52A535 12px, #3C8527 72px, #2A641C 96px); 
    border: none; 
    color: white; 
    font-size: 16px; 
    cursor: pointer; 
    transition: background 0.3s;
}

.custom-button:hover {
    background: linear-gradient(to bottom, #4B9A2D 12px, #348B25 72px, #1F5D15 96px);
}

.image2 {

position: absolute;
width: 200px;
height: 100px;
left: 700px;
bottom: 10px;
background: url(image2.png);
}

.image5 {

position: absolute;
width: 200px;
height: 100px;
left: 950px;
bottom: 10px;

background: url(image5.png);
}

.image3 {

    position: absolute;
    width: 200px;
    height: 100px;
    left: 1200px;
    bottom: 10px;
    
    background: url(image3.png);
    }

    .image4 {

        position: absolute;
        width: 200px;
        height: 100px;
        left: 1450px;
        bottom: 10px;
        
        background: url(image4.png);
        }

.box1 {
position: absolute;
width: 64px;
height: 64px;
left: 352px;
bottom: 350px;
   
background: url(rectangle4.png);
background: #262423;
}


.box2 {
    position: absolute;
    width: 64px;
    height: 64px;
    left: 500px;
    bottom: 350px;
       
    background: url(rectangle4.png);
    background: #262423;
    }
    
    
.box3 {
    position: absolute;
    width: 64px;
    height: 64px;
    left: 563px;
    bottom: 413px;
       
    background: url(rectangle4.png);
    background: #262423;
    }
    
.rectangle14{

position: absolute;
width: 280px;
height: 80px;
left: 150px;
bottom: 100px;

background: #3C8527;
color: white;
font-size: 25px;
text-align: center;
font-weight: bold;
vertical-align: middle;

display: flex;
height: 75px;
justify-content: center;
align-items: center;
}

.rectangle14:hover {
    background-color: lightgreen;
}


    .rectangle15{

        position: absolute;
        width: 280px;
        height: 14px;
        left: 150px;
        bottom: 180px;
        
        background-color: #52A535;
        }
